:root {
    --primary-color: rgba(111, 190, 232, 0.53);
}

.cursor-outer {
  position: fixed;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  border: 2px solid var(--primary-color);
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: transform 0.15s ease-out, opacity 0.3s ease-out;
  opacity: 0;
  will-change: transform;
  z-index: 9999999;
}

.cursor-inner {
  position: fixed;
  top: 0;
  left: 0;
  width: 8px;
  height: 8px;
  background-color: var(--primary-color);
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 0.2s ease-out, background-color 0.2s, opacity 0.1s ease-out;
  opacity: 0;
  will-change: transform;
  z-index: 9999999;
}

.cursor-inner.hover {
  transform: translate(-50%, -50%) scale(3);
  background-color: var(--primary-color);
}

.cursor-outer.click {
  animation: pulse 0.3s ease-out;
}

@media (max-width: 1000px) {
  .cursor-inner,
  .cursor-outer {
    display: none !important;
  }
}

@keyframes pulse {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.6);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}